<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.example.reservation.infrastructure.mybatis.mapper.ResourceMapper">
		<select id="findAll" resultType="com.example.reservation.infrastructure.mybatis.entity.ResourceMybatisEntity">
		SELECT id, name FROM resources
		</select>
		<select id="findById" resultType="com.example.reservation.infrastructure.mybatis.entity.ResourceMybatisEntity">
		SELECT id, name FROM resources where id = #{id}
		</select>
        <insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO resources(name) VALUES(#{name})
		</insert>
	</mapper>